p{
color : white;
text-align:center;
}
body{
	background-color:black;
	margin: 0px;
font-fmaily: "Time New Roman";
}

.main{
    display:flex;
}
.middle {
    width: 1000px;
}
.right {
	margin:0;
padding-top: 15%;
}
.image {
	min-height: 100vh;
	max-width: 100%;
}
.quote{
	font-size:30px;
}
.name{
	font-size: 20px;
	color: whitesmoke;
}
.date{
	font-color: whitesmoke;
}